@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  width: 100%;
  height: 100%;
}
body{
  background-color: #0F0F0F;
  color:white;
}

.content {
margin-left: 1rem;
margin-right: 1rem;
}

img {
  width: 100%;
  height: auto;
}


/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Start Modal Content Login*/
.modal-content-login {  
  height: 100vh;
  max-height: 20rem;
  max-width: 34rem;
  background-color: #0F0F0F;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}
/* End Modal Content Login*/

/* Start Modal Content Signup*/
.modal-content-signup {  
  height: 100vh;
  max-height: 32rem;
  max-width: 34rem;
  background-color: #0F0F0F;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}
/* End Modal Content Signup*/

/* Start The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  background-color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
/* End The Close Button */
/* Start Fade In Animation*/
.text-welcome {
  position:relative;
  overflow:hidden;
  margin:0 auto;
  font-size: 5em; 
}
.text-info {
  position:relative;
  /* background-color: white; */
  overflow:hidden;
  margin-top: 1cm;
  margin-left: 3cm;
  font-size: 2.25em; 
  
}

.fadingEffect {
  position:absolute;
  top:0; bottom:0; right:0;
  width:100%;
  background:#0F0F0F;
  /*background:#0F0F0F;*/
  -moz-animation: showHide 5s ease-in alternate ; /* Firefox */
  -webkit-animation: showHide 5s ease-in alternate ; /* Safari and Chrome */
  -ms-animation: showHide 5s ease-in alternate ; /* IE10 */
  -o-animation: showHide 5s ease-in alternate ; /* Opera */
  animation: showHide 5s ease-in alternate ;
  animation-fill-mode: forwards;
  
  
}
@-webkit-keyframes showHide { /* Chrome, Safari */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:0%;}
}
@-moz-keyframes showHide { /* FF */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:0%;}
}
@-ms-keyframes showHide { /* IE10 */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:0%;}
}
@-o-keyframes showHide { /* Opera */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:0%;}
}
@keyframes showHide {
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:0%;}
}

/* End Fade In Animation*/

/* Start Arrow Fade In Left Animation*/
.fadein-left-arrow {
  position:relative;
  animation:animateleft 2.2s ease-in alternate infinite;
}
@keyframes animateleft{
  0%{left:-100px;opacity:0} 
  70%{left:50px;opacity:1}
  100%{left:50px;opacity:1}
}

/* End Arrow Fade In Left Animation*/

/* Start Arrow Fade In Up Animation*/
.fadein-up-arrow {
  opacity: 0;
  position:relative;
  animation:animateup 2.5s ease-in alternate infinite;
  
  
}
@keyframes animateup{
  0%{left:25px;bottom:0px;opacity:0} 
  70%{left:25px;bottom:70px;opacity:1}
  100%{left:25px;bottom:70px;opacity:1}
}

.fadein-up-arrow-gonext {
  opacity: 0;
  position:relative;
  animation:animateup-gonext 2.5s ease-in alternate infinite;
  
}
@keyframes animateup-gonext{
  0%{left:-150px;bottom:-60px;opacity:0} 
  70%{left:-150px;bottom:-40px;opacity:1}
  100%{left:-150px;bottom:-40px;opacity:1}
}


/* End Arrow Fade In Up Animation*/

/* Start Profile_pic Fade In Bottom Animation*/
.fadein-bottom {
  position:relative;
  animation:animatebottom 1.3s;
  animation-fill-mode: both;
}
@keyframes animatebottom{
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to { opacity: 1 }
}

/* End Profile_pic Fade In Bottom Animation*/

.fadein-top {
  opacity: 0;
  position:relative;
  animation:animatetop 0.4s;
  animation-fill-mode: both;
}
@keyframes animatetop{
  0% { 
    top:-300px;opacity:0
  } 
  100% { top:0;opacity:1 }
}

.fadein-zoom{
  opacity: 0;
  animation:animatezoom 0.6s;
  animation-fill-mode: both;
}
@keyframes animatezoom{
  from{
    transform:scale(0)
  } 
  to{
    opacity: 1;
    transform:scale(1)
  }
  }

.showProj{
  display:hidden;
  
}

@layer components{
  .TitleofFunction{
    @apply text-2xl font-bold underline underline-offset-8
  }
  .EditForm{
    @apply text-2xl font-bold underline underline-offset-8
  }
  .inputTodoName{
    @apply bg-zinc-800 rounded-lg outline-0 pl-1.5
  }
  .inputTodoDetails{
    @apply bg-zinc-800 rounded-lg outline-0 pl-1.5 
  }
  .btnGray{
   @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700
  }

  .form-col{
    @apply flex flex-col mt-3
  }

  .form-label{
    @apply text-base font-bold
  }

  .form-button-login {
    @apply bg-zinc-700 hover:bg-zinc-900 py-2 px-4 rounded font-bold
  }

  .form-button-signup {
    @apply bg-sky-500 hover:bg-sky-700 py-2 px-4 rounded font-bold
  }

  .form-input {
    @apply bg-zinc-700 focus:bg-black mt-2 rounded
  }
  
  .item {
    @apply border-b-2 border-white pb-4
    
  }
  .item-title {
    @apply font-bold text-xl 
    
  }

}
