@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  width: 100%;
  height: 100%;
}
body{
  background-color: #0F0F0F;
  color:white;
}

.content {
margin-left: 1rem;

}




@layer components{
  .TitleofFunction{
    @apply text-2xl font-bold underline underline-offset-8
  }
  .EditForm{
    @apply text-2xl font-bold underline underline-offset-8
  }
  .inputTodoName{
    @apply bg-zinc-800 rounded-lg outline-0 pl-1.5
  }
  .inputTodoDetails{
    @apply bg-zinc-800 rounded-lg outline-0 pl-1.5 
  }
  

}
